<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

h2 {text-align: center;}

form {border: 3px solid #f1f1f1;}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}
</style>
</head>
<body>

<h2>EF LLM</h2>

<form action="/query" method="post">

  <div class="container">
    <label for="uname"><b>Query</b></label>
    <input type="text" placeholder="Enter Question" name="q" required>
     
    <button type="submit">Submit</button>
  </div>

</form>

</body>
</html>
